<h3 class="ui header">{{t "forms.i-i-s-postamat14-ключ-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сгенКлюч
      class=(if (v-get validationModel "сгенКлюч" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat14-ключ-e.сгенКлюч-caption")
      data-test-i-i-s-postamat14-ключ-e-сгенКлюч=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сгенКлюч" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat14-ключ-e.посылка-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.посылка
      displayAttributeName="номер"
      autocomplete=true
      relationName="посылка"
      projection="ПосылкаL"
      title=(t "forms.i-i-s-postamat14-ключ-e.посылка-caption")
      readonly=readonly
      componentName="посылкаLookup"
      class=(if (v-get validationModel "посылка" "isInvalid") "error")
      data-test-i-i-s-postamat14-ключ-e-посылка=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "посылка" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat14-ключ-e.пользователь-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.пользователь
      displayAttributeName="фИО"
      autocomplete=true
      relationName="пользователь"
      projection="ПользовательL"
      title=(t "forms.i-i-s-postamat14-ключ-e.пользователь-caption")
      readonly=readonly
      componentName="пользовательLookup"
      class=(if (v-get validationModel "пользователь" "isInvalid") "error")
      data-test-i-i-s-postamat14-ключ-e-пользователь=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пользователь" "message")}}
  </div>
</form>
